<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
Войти
<form action="/login" method="post">
    <div><label> User Name: <input type="text" name="username"></label></div>
    <div><label> Password: <input type="password" name="password"></label></div>
    <!-- token-->
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Войти"></div>
</form>
<a href="/registration">Добавить нового пользователя</a>
</body>
</html>