<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign out"/>
    </form>
</div>
<div>
    <a href="/masters">Мастера</a>
    <form method="post" action="/masters">
        <input type="text" name="name" placeholder="Введите имя"/>
        <input type="text" name="surname" placeholder="Введите фамилию">
        <select size="1" name="rang">
            <option disabled>Выберите разряд</option>
            <option value=3>Третий разряд</option>
            <option value=4>Четвертый разряд</option>
            <option value=5>Пятый разряд</option>
        </select>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Добавить мастера</button>
    </form>
</div>
<div>Список мастеров </div>

<form method="post" action="filter">
    <span><input type="radio" value=1 name="rang">Все</span>
    <span><input type="radio" value=3 name="rang">3</span>
    <span><input type="radio" value=4 name="rang">4</span>
    <span><input type="radio" value=5 name="rang">5</span>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Поиск по разряду</button>
</form>
<table>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Разряд</th>
    </tr>
    {{#masters}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td>{{rang}}</td>
        </tr>
    {{/masters}}
</table>

</body>
</html>